<h2> Log In </h2>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label><b> Username: </label>
  <input name=username><br>
  <label> Password: </label>
  <input name=password><br>
  <input type='submit' value='login'>
  <br><br>
<% end %>