<h2> All Users and Their Main Children </h2>

<% @users.each do |user| %>
    <b><%= user.username %></b>
    <ul>
    <% if MainChild.find_by(user_id:user.id) %>
        <% @main_children = [] %>
        <% MainChild.all.each do |child| %>
            <% if child.user_id == user.id %>
                <% @main_children << child %>
            <% end %>
        <% end %>
        <% @main_children.each do |mchild| %>
            <li> 
            <% child = Child.find(mchild.child_id) %>
            <%= link_to child.full_name, user_child_main_child_path(child_id:child.id, id:mchild.id, user_id:user.id) %><br>  
            </li>
            </t>Job: <%= child.job.title %>
        <% end %>
    <% else %>
        This user has not setup main child yet.
    <% end %>
    </ul>
<% end %>

<br><br>

